---
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import TextImage from '../components/TextImage.astro';
import TextSection from '../components/TextSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Navbar />
	<Hero />
	<TextSection id="about" title="¿Qué es Bailoteapp?">
		<p class="text-[#2C2422] text-pretty">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique 
			quam et nulla faucibus venenatis. Sed semper, arcu sed pulvinar gravida, 
			augue libero congue mauris, in tempus est purus pharetra mi. Praesent tempor, 
			diam eu pulvinar ultrices, nibh nisi efficitur leo, bibendum rutrum dolor 
			lorem posuere purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Fusce quam ipsum, consequat ut turpis a, vulputate gravida nulla. Nulla 
			sit amet lorem rhoncus, egestas ex eu, hendrerit sem. Donec faucibus 
			scelerisque enim, semper tincidunt velit iaculis sed.
		</p>
		<p class="text-[#2C2422] text-pretty">
			Nam eget posuere magna. Etiam elementum massa sit amet libero viverra, 
			fermentum viverra risus blandit. Nunc ultricies libero id arcu scelerisque, 
			varius facilisis felis aliquam. Aenean eget est vel lorem faucibus bibendum. 
			Cras metus libero, vestibulum interdum tempus gravida, efficitur eu risus. 
			Mauris pulvinar augue urna, non dignissim mi mollis et. Morbi accumsan ex 
			quis nisi ullamcorper, hendrerit bibendum nisl pharetra. Nam blandit in 
			nulla eu auctor. Sed at dolor luctus, consequat odio sed, mollis tellus.
		</p>
		<p class="text-[#2C2422] text-pretty">
			Vestibulum mattis fringilla dui, quis elementum arcu pretium vel. Aenean 
			efficitur risus sit amet risus hendrerit, vitae malesuada libero varius. 
			Donec pretium id velit eu porta. Orci varius natoque penatibus et magnis 
			dis parturient montes, nascetur ridiculus mus. Cras ornare neque a sapien 
			consectetur laoreet. Ut neque tortor, maximus commodo eros et, interdum 
			varius velit. Ut non sodales quam. Vestibulum ac mauris maximus, ornare 
			dui quis, sodales quam. Fusce ultricies pellentesque finibus. Nulla rhoncus 
			at sapien vel sagittis. Maecenas luctus sem eget dui dictum molestie. 
			Maecenas accumsan tortor malesuada massa posuere gravida. Maecenas ac 
			imperdiet ante. Curabitur nisi est, volutpat eget congue congue, pulvinar 
			ac est. Vivamus eleifend ipsum ex. Sed vel pulvinar nunc.
		</p>
	</TextSection>
	<CTA />
	<TextSection id="center" title="Somos una sala de baile">
		<p class="text-[#2C2422] text-pretty">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique 
			quam et nulla faucibus venenatis. Sed semper, arcu sed pulvinar gravida, 
			augue libero congue mauris, in tempus est purus pharetra mi. Praesent tempor, 
			diam eu pulvinar ultrices, nibh nisi efficitur leo, bibendum rutrum dolor 
			lorem posuere purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Fusce quam ipsum, consequat ut turpis a, vulputate gravida nulla. Nulla 
			sit amet lorem rhoncus, egestas ex eu, hendrerit sem. Donec faucibus 
			scelerisque enim, semper tincidunt velit iaculis sed.
		</p>
		<p class="text-[#2C2422] text-pretty">
			Nam eget posuere magna. Etiam elementum massa sit amet libero viverra, 
			fermentum viverra risus blandit. Nunc ultricies libero id arcu scelerisque, 
			varius facilisis felis aliquam. Aenean eget est vel lorem faucibus bibendum. 
			Cras metus libero, vestibulum interdum tempus gravida, efficitur eu risus. 
			Mauris pulvinar augue urna, non dignissim mi mollis et. Morbi accumsan ex 
			quis nisi ullamcorper, hendrerit bibendum nisl pharetra. Nam blandit in 
			nulla eu auctor. Sed at dolor luctus, consequat odio sed, mollis tellus.
		</p>
		<p class="text-[#2C2422] text-pretty">
			Vestibulum mattis fringilla dui, quis elementum arcu pretium vel. Aenean 
			efficitur risus sit amet risus hendrerit, vitae malesuada libero varius. 
			Donec pretium id velit eu porta. Orci varius natoque penatibus et magnis 
			dis parturient montes, nascetur ridiculus mus. Cras ornare neque a sapien 
			consectetur laoreet. Ut neque tortor, maximus commodo eros et, interdum 
			varius velit. Ut non sodales quam. Vestibulum ac mauris maximus, ornare 
			dui quis, sodales quam. Fusce ultricies pellentesque finibus. Nulla rhoncus 
			at sapien vel sagittis. Maecenas luctus sem eget dui dictum molestie. 
			Maecenas accumsan tortor malesuada massa posuere gravida. Maecenas ac 
			imperdiet ante. Curabitur nisi est, volutpat eget congue congue, pulvinar 
			ac est. Vivamus eleifend ipsum ex. Sed vel pulvinar nunc.
		</p>
	</TextSection>
	<TextImage id="academy" title="Somos una academia">
		<p class="text-[#2C2422] text-pretty">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique 
			quam et nulla faucibus venenatis. Sed semper, arcu sed pulvinar gravida, 
			augue libero congue mauris, in tempus est purus pharetra mi. Praesent tempor, 
			diam eu pulvinar ultrices, nibh nisi efficitur leo, bibendum rutrum dolor 
			lorem posuere purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Fusce quam ipsum, consequat ut turpis a, vulputate gravida nulla. Nulla 
			sit amet lorem rhoncus, egestas ex eu, hendrerit sem. Donec faucibus 
			scelerisque enim, semper tincidunt velit iaculis sed.
		</p>
		<p class="text-[#2C2422] text-pretty">
			Nam eget posuere magna. Etiam elementum massa sit amet libero viverra, 
			fermentum viverra risus blandit. Nunc ultricies libero id arcu scelerisque, 
			varius facilisis felis aliquam. Aenean eget est vel lorem faucibus bibendum. 
			Cras metus libero, vestibulum interdum tempus gravida, efficitur eu risus. 
			Mauris pulvinar augue urna, non dignissim mi mollis et. Morbi accumsan ex 
			quis nisi ullamcorper, hendrerit bibendum nisl pharetra. Nam blandit in 
			nulla eu auctor. Sed at dolor luctus, consequat odio sed, mollis tellus.
		</p>
	</TextImage>
	<TextSection id="teacher" title="Soy profesor/a">
		<p class="text-[#2C2422] text-pretty">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique 
			quam et nulla faucibus venenatis. Sed semper, arcu sed pulvinar gravida, 
			augue libero congue mauris, in tempus est purus pharetra mi. Praesent tempor, 
			diam eu pulvinar ultrices, nibh nisi efficitur leo, bibendum rutrum dolor 
			lorem posuere purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Fusce quam ipsum, consequat ut turpis a, vulputate gravida nulla. Nulla 
			sit amet lorem rhoncus, egestas ex eu, hendrerit sem. Donec faucibus 
			scelerisque enim, semper tincidunt velit iaculis sed.
		</p>
		<p class="text-[#2C2422] text-pretty">
			Nam eget posuere magna. Etiam elementum massa sit amet libero viverra, 
			fermentum viverra risus blandit. Nunc ultricies libero id arcu scelerisque, 
			varius facilisis felis aliquam. Aenean eget est vel lorem faucibus bibendum. 
			Cras metus libero, vestibulum interdum tempus gravida, efficitur eu risus. 
			Mauris pulvinar augue urna, non dignissim mi mollis et. Morbi accumsan ex 
			quis nisi ullamcorper, hendrerit bibendum nisl pharetra. Nam blandit in 
			nulla eu auctor. Sed at dolor luctus, consequat odio sed, mollis tellus.
		</p>
		<p class="text-[#2C2422]">
			Vestibulum mattis fringilla dui, quis elementum arcu pretium vel. Aenean 
			efficitur risus sit amet risus hendrerit, vitae malesuada libero varius. 
			Donec pretium id velit eu porta. Orci varius natoque penatibus et magnis 
			dis parturient montes, nascetur ridiculus mus. Cras ornare neque a sapien 
			consectetur laoreet. Ut neque tortor, maximus commodo eros et, interdum 
			varius velit. Ut non sodales quam. Vestibulum ac mauris maximus, ornare 
			dui quis, sodales quam. Fusce ultricies pellentesque finibus. Nulla rhoncus 
			at sapien vel sagittis. Maecenas luctus sem eget dui dictum molestie. 
			Maecenas accumsan tortor malesuada massa posuere gravida. Maecenas ac 
			imperdiet ante. Curabitur nisi est, volutpat eget congue congue, pulvinar 
			ac est. Vivamus eleifend ipsum ex. Sed vel pulvinar nunc.
		</p>
	</TextSection>
	<CTA />
	<Footer />
</Layout>
