---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Navbar />
  <section class="min-h-[calc(100vh-20rem)] w-full px-8 py-12 gap-6 flex flex-col 
    max-w-[1440px] mx-auto my-20 text-[#2C2422]"
  >
    <h1 class="text-[#AE6F54] text-3xl font-bold w-full text-balance">
      Política de privacidad
    </h1>
    <h3 class="text-pretty font-semibold text-xl">Responsable del Tratamiento de Datos</h3>
		<ul class="list-disc list-inside">
			<li>
				<strong>Nombre del Responsable: </strong>Jose Antonio Arroyo Escudero
			</li>
			<li>
				<strong>Dirección de Contacto: </strong>C/ Ramón y Cajal, 2, 29560, Pizarra, Málaga
			</li>
			<li>
				<strong>Correo Electrónico: </strong>josearroyoescudero@gmail.com
			</li>
		</ul>
		<h3 class="text-pretty font-semibold text-xl">Finalidad del Tratamiento</h3>
		<p>Los datos personales que se recojan a través del formulario del Sitio Web 
			serán utilizados exclusivamente para:</p>
		<ol class="list-decimal list-inside">
			<li>
				Gestionar suscripciones a boletines informativos o comunicaciones comerciales.
			</li>
			<li>
				Enviar información relacionada con nuestros servicios o contenidos relacionados 
				con el mundo del baile.
			</li>
		</ol>
		<h3 class="text-pretty font-semibold text-xl">Base Legal</h3>
		<p>La base legal para el tratamiento de los datos es el consentimiento del usuario,
		obtenido a través del formulario del Sitio Web.</p>
		<h3 class="text-pretty font-semibold text-xl">Plazo de Conservación de los Datos</h3>
		<p>Los datos serán conservados mientras el usuario no solicite su supresión.</p>
		<h3 class="text-pretty font-semibold text-xl">Destinatarios de los Datos</h3>
		<p>No se cederán datos a terceros, salvo obligación legal.</p>
		<h3 class="text-pretty font-semibold text-xl">Derechos del Usuario</h3>
		<p>El usuario tiene derecho a:</p>
		<ul class="list-disc list-inside">
			<li>
				Acceder a sus datos personales.
			</li>
			<li>
				Solicitar la rectificación de sus datos.
			</li>
			<li>
				Solicitar la supresión de sus datos.
			</li>
			<li>
				Oponerse al tratamiento de sus datos o limitar su uso.
			</li>
		</ul>
		<p>
			Para ejercer sus derechos, el usuario debe enviar una solicitud por correo 
			electrónico a josearroyoescudero@gmail.com adjuntando una copia de su 
			documento de identidad.
		</p>
		<h3 class="text-pretty font-semibold text-xl">Cookies</h3>
		<p>Este Sitio Web no utiliza cookies.</p>
		<h3 class="text-pretty font-semibold text-xl">Seguridad de los Datos</h3>
		<p>
			El Responsable garantiza que se adoptarán las medidas técnicas y organizativas 
			necesarias para proteger los datos personales y evitar su pérdida, uso 
			indebido o acceso no autorizado.
		</p>
  </section>
	<Footer />
</Layout>