<section id="cta" class="py-40 bg-[#B47257] my-20 flex items-center justify-center">
  <article class="inline-block">
    <div>
      <input 
        type="email"
        name="email"
        id="email"
        class="w-[416px] h-12 rounded-lg py-2 px-4"
        placeholder="Tu mejor correo electrónico"
      />
      <button class="bg-[#A0A286] text-white min-w-[168px] rounded-lg px-2 
        h-12 text-base font-semibold hover:bg-[#7d7e69] transition-all duration-300"
      >Unirme a la lista</button>
    </div>
    <p class="text-white text-xs font-thin pt-2">
      Recibe antes que nadie todas las novedades y acceso exclusivo a la app.
    </p>
  </article>
</section>