<footer class="w-full text-xs h-12 flex items-center justify-center text-[#2C2422]">
  <a href="/privacidad" class="hover:underline text-[#B47257]">
    Política de privacidad
  </a>
  <span class="mx-5 border-x border-[#2C2422] px-4">
    Made with ♥️ by 
    <a href="https://jaresdev.com" target="_blank" class="ml-1 hover:underline">
      jaresdev
    </a>
  </span>
  <a href="/legal" class="hover:underline text-[#B47257]">
    Términos y condiciones
  </a>
</footer>