---
import { Image } from 'astro:assets'
---

<nav class="w-full px-8 py-8 flex justify-between items-center max-w-[1440px] mx-auto">
  <a href="/">
    <Image src="/logo.png" alt="Bailoteapp Icon" width="194" height="48" />
  </a>
  <div class="w-full flex justify-end items-center gap-4 text-lg font-semibold 
    text-[#AE6F54] transition-all duration-700"
  >
    <a href="/#about" class="relative border-b-2 border-transparent hover:border-[#AE6F54] 
      transition-colors duration-500">¿Qué es Bailoteapp?</a>
    <a href="/#center" class="relative border-b-2 border-transparent hover:border-[#AE6F54] 
      transition-colors duration-500">Somos una sala de baile</a>
    <a href="/#academy" class="relative border-b-2 border-transparent hover:border-[#AE6F54] 
      transition-colors duration-500">Somos una academia</a>
    <a href="/#teacher" class="relative border-b-2 border-transparent hover:border-[#AE6F54] 
      transition-colors duration-500">Soy profesor/a</a>
    <a href="/#lead_email" class="relative border-b-2 border-transparent hover:border-[#AE6F54] 
      transition-colors duration-500">Me apunto</a>
  </div>
</nav>